body{
    background-color: white;
}

#icon{
    position: relative;
    left: 2%;
    top: 6%;
    height: 50px;
    width: 50px;
}

h1{
    font-family: Arial;
    position: absolute;
    color: black;
    left: 5%;
    top: 5%;
}

#explanation{

}

#name{
    font-family: Arial;
    font-size: 20px;
    color: #2d2d2d;
    position: absolute;
    right: 5%;
    bottom: 20px;
}