body{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;

    background-color: white;
    align-items: center;
}

header{
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;

    background-color: #8d8d8d;
}

#icon{
    position: relative;
    top: 60px;
    left: 60px;
    height: 64px;
    width: 64px;
}

h1{
    position: relative;
    top: 0px;
    left: 140px;

    font-size: 40px;
    font-family: Arial;
    color: black;
}

#explanation{
    position: relative;

    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

    color: #2d2d2d;
    font-family: Arial;
    font-size: 20px;
}

.button{
    position: relative;
    bottom: 0%;

    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: black;
    font-family: Arial;
    font-size: 20px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

.button:hover{
    border-bottom: 4px solid black;
}

hr{
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;

    border: 1px solid black;
}

#mail{
    position: relative;
    left: 100px;
    bottom: 0px;

    color: #2d2d2d;
    font-family: Arial;
    font-size: 18px;
}

#name{
    position: relative;
    top: 100%;
    left: 80%;
    right: 0px;
    bottom: 0px;

    font-family: Arial;
    font-size: 20px;
    color: #5d5d5d;
}