body{
    background-color: white;
}

#icon{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 128px;
    width: 128px;
}

h1{
    position: absolute;
    top: 110px;
    left: 250px;

    font-size: 40px;
    font-family: Arial;
    color: black;
}

#explanation{
    position: absolute;
    left: auto;
    top: 200px;

    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;

    color: #2d2d2d;
    font-family: Arial;
    font-size: 20px;
}

#mail{
    position: absolute;
    left: 110px;
    bottom: 200px;

    color: #2d2d2d;
    font-family: Arial;
    font-size: 18px;
}

#name{
    position: absolute;
    right: 5%;
    bottom: 20px;

    font-family: Arial;
    font-size: 20px;
    color: #5d5d5d;
}