body{
    background-color: white;
}

#icon{
    position: relative;
    left: 5%;
    top: 115px;
    height: 128px;
    width: 128px;
}

h1{
    position: relative;
    left: 13%;

    font-size: 40px;
    font-family: Arial;
    color: black;
}

#explanation{
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;

    color: #2d2d2d;
    font-family: Arial;
    font-size: 20px;
}

#name{
    position: absolute;
    right: 5%;
    bottom: 20px;

    font-family: Arial;
    font-size: 20px;
    color: #5d5d5d;
}