body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%; /* Sayfanın maksimum genişliğini belirle */
    overflow-x: hidden; /* Yatay taşmaları gizle */
}

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#icon {
    width: 64px;
    height: 64px;
}

#title {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

nav {
    position: absolute;
    right: 0px;
    margin-top: 36px;
    margin-right: 20px;
}


aside {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: width 0.5s;
}

.menu-button.active + aside {
    width: 200px;
}

#MenuButtons {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}

main {
    position: relative;
    top: 100px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

footer {
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}