body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 18px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

#menu_icon {
    width: 20px;
    height: 20px;
}

#icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

#title {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

nav {
    position: fixed;
    right: 0px;
    margin: 26px;
}

aside, .second-aside {
    z-index: 1;
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.second-aside {
    width: 200px;
    overflow: hidden;
    display: none;
}

.second-aside.show-second-aside {
    display: flex;
}

.menu-button.active + aside,
.menu-button.active + .second-aside {
    width: 200px;
}

.menu-button.active + aside .language-menu,
.menu-button.active + .second-aside .language-menu {
    display: block;
}

.menu-link, .language, .language-item {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    font-size: 16px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: border-color 0.2s;
}

.menu-link:hover, .language-item:hover, .language:hover {
    border-color: #f0f0f0;
}

.language {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    border-left: 5px solid transparent;
    transition: border-color 0.2s;
}

main {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
